
body {
    background-color: #add5fa;

       
}

.navbar {
    background-color: #95b8f6;   
    color: white;
}


.navbar ul {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: white;
 }

 .nav-link{
    
    color: white;
  }

  #navcol a {
      color: black;
      cursor: pointer;
  }
